<plist version="1.0">
    <dict>
    <key>animations</key>
    <dict>
        <key>knight/UpRun</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/UpRun/00000.png</string>
                <string>knight/UpRun/00001.png</string>
                <string>knight/UpRun/00002.png</string>
                <string>knight/UpRun/00003.png</string>
                <string>knight/UpRun/00004.png</string>
                <string>knight/UpRun/00005.png</string>
                <string>knight/UpRun/00006.png</string>
                <string>knight/UpRun/00007.png</string>
            </array>
        </dict>
        <key>knight/DownRun</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/DownRun/00000.png</string>
                <string>knight/DownRun/00001.png</string>
                <string>knight/DownRun/00002.png</string>
                <string>knight/DownRun/00003.png</string>
                <string>knight/DownRun/00004.png</string>
                <string>knight/DownRun/00005.png</string>
                <string>knight/DownRun/00006.png</string>
                <string>knight/DownRun/00007.png</string>
            </array>
        </dict>
        <key>knight/LeftUpRun</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/LeftUpRun/00000.png</string>
                <string>knight/LeftUpRun/00001.png</string>
                <string>knight/LeftUpRun/00002.png</string>
                <string>knight/LeftUpRun/00003.png</string>
                <string>knight/LeftUpRun/00004.png</string>
                <string>knight/LeftUpRun/00005.png</string>
                <string>knight/LeftUpRun/00006.png</string>
                <string>knight/LeftUpRun/00007.png</string>
            </array>
        </dict>
        <key>knight/LeftDownRun</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/LeftDownRun/00000.png</string>
                <string>knight/LeftDownRun/00001.png</string>
                <string>knight/LeftDownRun/00002.png</string>
                <string>knight/LeftDownRun/00003.png</string>
                <string>knight/LeftDownRun/00004.png</string>
                <string>knight/LeftDownRun/00005.png</string>
                <string>knight/LeftDownRun/00006.png</string>
                <string>knight/LeftDownRun/00007.png</string>
            </array>
        </dict>
        <key>knight/UpStand</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/UpStand/00000.png</string>
                <string>knight/UpStand/00001.png</string>
                <string>knight/UpStand/00002.png</string>
                <string>knight/UpStand/00003.png</string>
                <string>knight/UpStand/00004.png</string>
                <string>knight/UpStand/00005.png</string>
                <string>knight/UpStand/00006.png</string>
                <string>knight/UpStand/00007.png</string>
            </array>
        </dict>
        <key>knight/DownStand</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/DownStand/00000.png</string>
                <string>knight/DownStand/00001.png</string>
                <string>knight/DownStand/00002.png</string>
                <string>knight/DownStand/00003.png</string>
                <string>knight/DownStand/00004.png</string>
                <string>knight/DownStand/00005.png</string>
                <string>knight/DownStand/00006.png</string>
                <string>knight/DownStand/00007.png</string>
            </array>
        </dict>
        <key>knight/LeftUpStand</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/LeftUpStand/00000.png</string>
                <string>knight/LeftUpStand/00001.png</string>
                <string>knight/LeftUpStand/00002.png</string>
                <string>knight/LeftUpStand/00003.png</string>
                <string>knight/LeftUpStand/00004.png</string>
                <string>knight/LeftUpStand/00005.png</string>
                <string>knight/LeftUpStand/00006.png</string>
                <string>knight/LeftUpStand/00007.png</string>
            </array>
        </dict>
        <key>knight/LeftDownStand</key>
        <dict>
            <key>delay</key>
            <real>0.097</real>
            <key>frames</key>
            <array>
                <string>knight/LeftDownStand/00000.png</string>
                <string>knight/LeftDownStand/00001.png</string>
                <string>knight/LeftDownStand/00002.png</string>
                <string>knight/LeftDownStand/00003.png</string>
                <string>knight/LeftDownStand/00004.png</string>
                <string>knight/LeftDownStand/00005.png</string>
                <string>knight/LeftDownStand/00006.png</string>
                <string>knight/LeftDownStand/00007.png</string>
            </array>
        </dict>
    </dict>
    </dict>
</plist>
