<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight/UpRun/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,172},{192,170}}</string>
                <key>offset</key>
                <string>{31,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,278},{192,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpRun/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,172},{192,170}}</string>
                <key>offset</key>
                <string>{28,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,276},{192,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpRun/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,346},{192,176}}</string>
                <key>offset</key>
                <string>{27,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,274},{192,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpRun/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,524},{188,180}}</string>
                <key>offset</key>
                <string>{26,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,273},{188,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpRun/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,708},{188,182}}</string>
                <key>offset</key>
                <string>{26,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,274},{188,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpRun/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,708},{192,182}}</string>
                <key>offset</key>
                <string>{28,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,275},{192,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpRun/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,524},{198,178}}</string>
                <key>offset</key>
                <string>{30,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,276},{198,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpRun/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,346},{196,176}}</string>
                <key>offset</key>
                <string>{30,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,276},{196,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,708},{192,192}}</string>
                <key>offset</key>
                <string>{-31,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,272},{192,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,904},{192,194}}</string>
                <key>offset</key>
                <string>{-29,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,271},{192,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,904},{192,196}}</string>
                <key>offset</key>
                <string>{-28,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,269},{192,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,904},{190,200}}</string>
                <key>offset</key>
                <string>{-27,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,265},{190,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,904},{188,202}}</string>
                <key>offset</key>
                <string>{-26,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,263},{188,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,904},{192,200}}</string>
                <key>offset</key>
                <string>{-28,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,263},{192,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,904},{198,196}}</string>
                <key>offset</key>
                <string>{-31,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,265},{198,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownRun/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,708},{196,194}}</string>
                <key>offset</key>
                <string>{-31,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,268},{196,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,346},{134,172}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,280},{134,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{138,164}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,279},{138,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{140,168}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,277},{140,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,346},{142,174}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,276},{142,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{138,176}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,277},{138,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,524},{142,180}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,276},{142,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,524},{144,176}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,278},{144,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpRun/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,172},{142,172}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,278},{142,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{246,160}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,294},{246,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{246,156}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,292},{246,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,154}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,292},{246,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{242,158}}</string>
                <key>offset</key>
                <string>{6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,291},{242,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{238,166}}</string>
                <key>offset</key>
                <string>{7,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,287},{238,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{238,168}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,288},{238,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,172},{240,170}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,289},{240,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownRun/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{244,164}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,292},{244,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,346},{94,176}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,282},{94,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,346},{94,176}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,282},{94,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,346},{94,174}}</string>
                <key>offset</key>
                <string>{2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,285},{94,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,172},{94,172}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,285},{94,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,172},{94,170}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,287},{94,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{94,172}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,285},{94,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,346},{94,176}}</string>
                <key>offset</key>
                <string>{2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,284},{94,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/UpStand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,524},{94,178}}</string>
                <key>offset</key>
                <string>{2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,283},{94,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,708},{94,192}}</string>
                <key>offset</key>
                <string>{-3,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,283},{94,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{94,194}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,283},{94,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,904},{94,198}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,282},{94,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,904},{94,198}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,283},{94,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,904},{94,198}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,284},{94,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,904},{94,198}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,283},{94,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,904},{94,196}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,284},{94,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/DownStand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,708},{94,194}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,283},{94,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,346},{176,174}}</string>
                <key>offset</key>
                <string>{17,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,283},{176,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,346},{174,174}}</string>
                <key>offset</key>
                <string>{17,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,283},{174,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,346},{172,174}}</string>
                <key>offset</key>
                <string>{17,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,283},{172,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,172},{170,172}}</string>
                <key>offset</key>
                <string>{17,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,285},{170,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,172},{168,172}}</string>
                <key>offset</key>
                <string>{17,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,285},{168,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,172},{170,172}}</string>
                <key>offset</key>
                <string>{16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,285},{170,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,172},{172,172}}</string>
                <key>offset</key>
                <string>{16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,285},{172,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftUpStand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,346},{174,174}}</string>
                <key>offset</key>
                <string>{17,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,283},{174,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{214,182}}</string>
                <key>offset</key>
                <string>{-27,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,282},{214,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,524},{214,182}}</string>
                <key>offset</key>
                <string>{-27,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,282},{214,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,708},{214,182}}</string>
                <key>offset</key>
                <string>{-27,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,282},{214,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,708},{214,182}}</string>
                <key>offset</key>
                <string>{-27,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,282},{214,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,708},{214,182}}</string>
                <key>offset</key>
                <string>{-28,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,282},{214,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,524},{214,180}}</string>
                <key>offset</key>
                <string>{-28,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,284},{214,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,524},{214,180}}</string>
                <key>offset</key>
                <string>{-28,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,284},{214,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>knight/LeftDownStand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,524},{218,180}}</string>
                <key>offset</key>
                <string>{-26,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,284},{218,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dst.arm</string>
            <key>size</key>
            <string>{1896,1112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06bca294c33a70096c0a6797db94d9bd:1/1$</string>
            <key>textureFileName</key>
            <string>dst.arm</string>
        </dict>
    </dict>
</plist>
