<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sophia-desktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sophia-desktop_src.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Sophia-mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dyerEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A9C0E331D2A905A000A9904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AF17F581D4A38270062C569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5023812617EBBCE400990C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F293B3C715EB7BE500256477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
